.header, .footer {
    background-color: #1f2937;
    font-family: sans-serif;
    color: white;
}

.first {
    background-color: #1f2937;
    font-family: sans-serif;
    color: white;
}

.container2 {
    background-color: grey;
}

.third {
    background-color: #E5E7EB;
}

.quote {
    font-family: sans-serif;
    font-style: italic;
    font-size: 24px;
    font-weight: lighter;
}

.thor {
    font-size: 15px;
    font-weight: bold;
}

.bluebox {
    background-color: blue;
    color: white;
}

.sign-up {
    font-weight: 50;
    font-size: 10px;
}

ul {
    list-style: none;
}

a {
    color: grey;
    text-decoration: none;
    font-size: 10px;
}

.awesome {
    font-size: 24px;
    font-weight: bold;
}

.subtext {
    color: grey;
    font-size: 10px;
}

button {
    background-color: blue;
    color: white;
}

.odin {
    font-size: 10px;
    font-weight: 50px;
}

.header {
    display: flex;
    justify-content: center;
    gap: 210px;
    height: 102px;
    margin: 0%;
}

ul {
    display: flex;
    gap: 8px;
}

ul , .header-logo {
    margin: 0px;
    margin-top: 10px;
}

.first {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin: 50px;
    max-width: 300px;
    gap: 10px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    margin: 50px; 
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.box {
    border: 1px solid blue;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    width: 80px;
    height: 80px;
}

.boxes {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.underbox {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.subtext2 {
    color: grey;
    font-size: 10px;
    width: 80px;
    height: 80px;
    text-align: center;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.bluebox {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    width: 500px;
}

.justbutton {
    margin-left: 20px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;
    border: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.boxforthor {
    display: flex;
    flex-direction: column;
    padding: 35px;
    max-width: 500px;
}

.thor {
    align-self: flex-end;
}